chat.tk42.jp {
    handle /export/* {
        basicauth {
            {$EXPORT_BASIC_AUTH_USER:admin} {$EXPORT_BASIC_AUTH_HASH}
        }
        root * /srv/export
        uri strip_prefix /export
        file_server browse
    }

    handle {
        reverse_proxy mattermost:8065
    }
}
