<div class="home-intro">
  <div class="jumbo">{{site.heading}}</div>
  <div>小嶋 忠詞 (Tadashi KOJIMA)</div>
  <div class="home-sub-text">
    <center>
      <img
        src="https://avatars.githubusercontent.com/u/8386849?v=4"
        class="home-image"
        alt="home icon"
      />
    </center>
    <p class="home-intro">
      software engineer, writer, and a part-time philosopher. I write about
      technology, life, and everything in between.
    </p>
    <p class="home-intro">
      "Life is real, Life is earnest!" - H.W. Longfellow "A Psalm of Life"
    </p>
  </div>
</div>
