<div class="home-intro">
  <div class="jumbo">{{site.heading}}</div>
  <div class="home-sub-text">
    <center>
      <img
        src="https://avatars.githubusercontent.com/u/8386849?v=4"
        class="home-image"
        alt="home icon"
      />
    </center>
    <p class="home-intro">
      software engineer, writer, and a part-time philosopher. I write about
      technology, life, and everything in between.
    </p>
    <p>"Life is real, Life is earnest!" - H.W. Longfellow "A Psalm of Life"</p>
    <p>
      The source code for this website is available on
      <a href="https://github.com/tk42/tk42.github.io">here</a>.
    </p>
  </div>
</div>
