---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="404 Not Found">
  <div class="page-content">
    <div class="jumbo">404</div>
    <div class="content">
      <p>Page not found. <a href="/">Go back home</a>.</p>
    </div>
  </div>
</BaseLayout>
