---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="404 Not Found">
  <div class="column is-7-widescreen is-8-desktop is-10-tablet is-12-mobile">
    <div class="jumbo">404</div>
    <div class="content">
      <p>Page not found. <a href="/">Go back home</a>.</p>
    </div>
  </div>
</BaseLayout>
